<!-- <p>form works!</p> -->
<div class="form-input">
    <div class="row">
    
    <div class="form-label col-md-6">
      <label>Enter Payee</label>
     <div> <input (input)="onInputChange($event)" /> </div>
    </div>
  
    <div class="form-data col-md-6">
        <label>Name</label>
     <div> {{name | titlecase}} </div>
    </div>  
    </div>
  
    <div class="row">
    <div class="form-label col-md-6">
        <label>Enter Date</label>
       <div> <input type="date" (input)="onDateChange($event)" /> </div>
      </div>
    
      <div class="form-data col-md-6">
          <label>Date</label>
       <div> {{date | date :"MMMM dd, YYYY"}} </div>
      </div>
      </div>  

      <div class="row">
        <div class="form-label col-md-6">
            <label>Enter Currency</label>
           <div> <input type="number" (input)="onAmountChange($event)" /> </div>
          </div>
        
          <div class="form-data col-md-6">
              <label>Amount</label>
           <div> {{amount | currency :'EUR'}} </div>
          </div>
          </div>  

          <div class="row">
            <div class="form-label col-md-6">
                <label>Enter Height</label>
               <div> <input  (input)="onHeightChange($event)" /> </div>
              </div>
            
              <div class="form-data col-md-6">
                  <label>Height</label>
               <div> {{height | number :'1.1-3'}} </div>
              </div>
              </div>  

              
          <div class="row">
            <div class="form-label col-md-6">
                <label>Enter Speed (ml/hr)</label>
               <div> <input type="number"  (input)="onMilesChange($event)" /> </div>
              </div>
            
              <div class="form-data col-md-6">
                  <label>Speed </label>
               <div > {{miles | convertor: ''  }} </div>
              </div>
              </div>  
    
  </div>